# Base de données
DATABASE_URL="postgresql://admin:password@localhost:5432/marche_db"

# JWT
JWT_SECRET="change-this-secret-in-production"

# OTP (stub pour le développement)
OTP_DEFAULT_CODE=123456

# Admin par défaut (créé par le seeder)
ADMIN_PHONE=810000000
ADMIN_COUNTRY_CODE=+243
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=MARCHÉ
ADMIN_EMAIL=admin@marche.cd

# App
PORT=5000
CURRENCY=FC
